<div class="identity-card-container">
    <div class="identity-card-photo-container">
        <img src="../../../../../assets/images/foto.png" alt="profile photo" class="identity-card-photo" style="width: 15px; height: 15px;">
    </div>
    <div class="identity-card-info-container">
        <span>Diego Castiblanque</span>
        <span>Full Stack</span>
        <span>Web Developer</span>
    </div>
    <a href="/src/assets/resources-shared/DiegoCastiblanqueCV.pdf" download class="identity-card-button" >
            <p>Resume</p>
            <img src="../../../../../assets/images/download.svg" alt="download icon" style="width: 15px; height: 15px;" class="identity-card-button-icon">
    </a>
</div>