<div class="identity-card-container">
    <div class="identity-card-photo-container">
    </div>
    <div class="identity-card-info-container">
        <span>Diego Castiblanque</span>
        <div class="identity-card-info-subcontainer">
            <span>Full Stack</span>
            <span>Web Developer</span>
        </div>
    </div>
    <a href="../../../../../assets/resources-shared/DiegoCastiblanqueCV.pdf" download class="identity-card-button">
        <p>Resume</p>
        <div class="identity-card-button-container-icon">
            <img src="../../../../../assets/images/download.svg" alt="download icon" >
        </div>
    </a>
</div>