@use '../../styles/variables.scss' as *;

.projects-container {
    background: url(../../../../assets/images/projects-background.png) center center;
    background-size: 300px 300px;
    border-radius: 30px;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
    gap: 40px;
}

.projects-tittle-section {
    background-color: $color-background1 ;
    opacity: 0.9;
    color: $color-tittle-icons;
    padding: 10px 0px;
    width: 100%;
}
.projects-tittle{
    font-size: clamp(1.5rem, 1.7vw + 1rem, 3rem);
    text-align: center; 
    letter-spacing: 4.8px;
    font-weight: 400;

    &::first-letter {
        font-weight: 600;

    }
}
.projects-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
.projects-list-item {
    max-width: 80dvw;
}