@use '../../styles/variables.scss' as *;

.nav-bar-container {
    position: relative;
    width: 100dvw;
}

.nav-bar-menu {
    position: absolute;
    height: 100dvh;
    width: 100dvw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: $color-background1;
    z-index: 100;
}

.nav-bar-menu-open {
    transform: translateY(0);
    transition: transform 0.5s ease-in-out;
}

.nav-bar-menu-close {
    transform: translateY(-100dvh);
    transition: transform 0.5s ease-in-out;
}

.nav-bar-menu-list {
    height: 100%;
    padding: 50px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.nav-bar-menu-link {
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    font-weight: 300;
    letter-spacing: 2.4px;
    color: $color-routerLinks;
}

.nav-bar-menu-list-space {
    width: 34px;
    height: 4px;
}

.nav-bar {
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1000;
}

.nav-bar-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 25px;
    width: 120px;
    height: 38px;
    background-color: $color-background1;
    border-radius: 0px 0px 25px 25px;
    

    li:nth-of-type(n+3) {
        display: none;
    }
}

.nav-bar-list-menu-icon {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-bar-list-open {
    border-right: 2px solid $color-tittle-icons;
    border-bottom: 2px solid $color-tittle-icons;
    border-left: 2px solid $color-tittle-icons;
}

.nav-bar-menu-icon-open {
    width: 24px;
    height: 18px;
}

.nav-bar-menu-icon-open-hidden {
    display: none;
}

.nav-bar-menu-icon-close {
    width: 20px;
    height: 20px;
}

.nav-bar-menu-icon-close-hidden {
    display: none;
}

.nav-bar-burger-hidden {
    display: none;
}

.nav-bar-reset {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 28px;
    height: 27px;
}

@media screen and (min-width: 576px) {

    .nav-bar-menu-link {
        font-size: 30px;
        letter-spacing: 4.2px;
    }

    .nav-bar-menu-list-space {
        width: 42.5px;
        height: 5px;
    }

    .nav-bar-list {
        width: 133px;
        height: 44px;
    }

    .nav-bar-menu-icon-open {
        width: 28px;
        height: 21px;
    }

    .nav-bar-menu-icon-close {
        width: 22px;
        height: 22px;
    }

    .nav-bar-reset {
        width: 32px;
        height: 31px;
    }

}

@media screen and (min-width: 768px) {
    .nav-bar-menu{
        display: none;
    }
    .nav-bar-list {
        width: auto;
        height: auto;
        padding: 5px 30px;
        gap: 50px;

        li:nth-of-type(1) {
            display: none;
        }

        li:nth-of-type(n+3) {
            display: inline-block;
        }
    }

    .nav-bar-link {
        font-family: 'Montserrat', sans-serif;
        color: $color-routerLinks;
        font-family: Montserrat;
        font-size: 14px;
        font-weight: 400;
        letter-spacing: 2.8px;
    }

    .nav-bar-space {
        border: 1px solid $color-tittle-icons;
    }

}

@media screen and (min-width: 992px) {
    .nav-bar-link {
        font-size: 16px;
        letter-spacing: 3.2px;
    }

    .nav-bar-reset {
        width: 35px;
        height: 34px;
    }

}

@media screen and (min-width: 1920px) {
    .nav-bar-link {
        font-size: 18px;
        letter-spacing: 3.6px;
    }

    .nav-bar-reset {
        width: 40px;
        height: 39px;
    }
}