<div class="project-card-container" (click)="toProject" (keyup)="toProject" tabindex="0">
    <section class="project-card-spine">
        <h2>{{tittle1}}</h2>
        <img [src]="iconSpine" alt="project-tittle">
    </section>
    <section class="project-card-cover">
        <h2>{{tittle2}}</h2>
        <ul class="project-card-description-list">
            @for (let description of descriptions){
                <li class="project-card-description-item">{{description}}</li>
            }
        </ul>
        <p class="project-card-type">{{type}}</p>
        <ul class="project-card-technologies-icons">
            @for (let icon of iconsTechnologies){
                <li class="project-card-technologies-icon">
                    <img [src]="icon" [alt]="icon">
                </li>
            }
        </ul>
    </section>
</div>