@use '../../../../styles/variables.scss' as *;

.animated-band-frame-container {
    position: relative;
    background-color: $color-background2;
    min-width: 99vw;
    border-top: 5px solid $color-routerLinks;
    border-bottom: 5px solid $color-routerLinks;
}

.animated-band-slider-container {
    display: flex;
    max-width: 100%;
    gap: 20px;
    padding: 3px 0;
    border-top: 1px solid $color-background1;
    border-bottom: 1px solid $color-background1;
}

.reverse {
    flex-direction: row-reverse;
}

.animated-band-icon-container {
    flex: 0 0 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.animated-band-icon{
    height: auto;
    aspect-ratio: 1/1;
}